/* Write your CSS here */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.line {
  border: 1px solid #dcdcdc;
  width: 100%;
}

.home-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home-img {
  width: 50%;
}
